.row {
    width: 60%;
    display:inline-block;
    overflow: auto;
    white-space: nowrap;
    margin:0px auto;
}

textButton {
    color: red; 
    font-size: 30px;
  }

text {
    color: black;
    font-size: 11px;
}

allign {
    text-align: center;
    padding: 0%;
}

buttonPadding {
    padding: 30px;
}

button {
    box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:red;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}